body {
	background-color: salmon;
	color: white;
	text-align: center;
}
h1{
	font-size:72px;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	color: white
}
ul{font-size: 30px
   }