body {
	background-color: salmon;
	color: white;
	text-align: center;
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", }
h1{
	font-size:72px;
	font-family: "Courier New", Courier, monospace
	text-align: center;
	color: white
}
p2{text-align: left}
ul{font-size: 30px
   }


